<section class="fork-sub-pricing">
  <div class="container">
    <h2 class="fork-sub-pricing__title">Fork Subscription Pricing</h2>
    <div class="fork-sub-pricing__wrap">
      <div class="fork-sub-pricing__block">
        <div class="price-block__container">Students</div>
        <p class="price-block__price"><span class="dollar">$</span>29</p>
        <p class="price-block__price-descr">per month</p>
        <span class="divided-line"></span>
        <p class="price-block__descr">Personal License</p>
        <button class="main-btn price-block__btn">purchase</button>
      </div>
      <div class="fork-sub-pricing__block">
        <div class="price-block__container">professional</div>
        <p class="price-block__price"><span class="dollar">$</span>59</p>
        <p class="price-block__price-descr">per month</p>
        <span class="divided-line"></span>
        <p class="price-block__descr">Professional LicenseEmail Support</p>
        <button class="main-btn price-block__btn">purchase</button>
      </div>
      <div class="fork-sub-pricing__block btn-active">
        <div class="price-block__container">agency</div>
        <p class="price-block__price btn-active__price"><span class="dollar">$</span>99</p>
        <p class="price-block__price-descr">per month</p>
        <span class="divided-line"></span>
        <p class="price-block__descr">1-12 Team Members Phone Support</p>
        <button class="main-btn price-block__btn">purchase</button>
      </div>
      <div class="fork-sub-pricing__block">
        <div class="price-block__container">enterprise</div>
        <p class="price-block__price"><span class="dollar">$</span>159</p>
        <p class="price-block__price-descr">per month</p>
        <span class="divided-line"></span>
        <p class="price-block__descr">Unlimited Team Members 24/ 7 Phone Support</p>
        <button class="main-btn price-block__btn">purchase</button>
      </div>
    </div>
  </div>
</section>
