<section class="section-hero">
    <header class="section-hero__header">
        <div class="header__header-wrapper container">
            <a href="/">
                <div class="header__logo-wrapper">
                    <img class="header__logo-img" src="/img/logos/logo.svg" alt="">
                    <img class="header__logo-img--hover" src="/img/logos/logo--hover.svg" alt="">
                    <span class="header__logo-text">Forkio</span>
                </div>
            </a>
            <nav class="header-menu" id="menu-mobile">
                <ul class="header-menu__menu-items">
                    <li class="header-menu__menu-item"><a href="">Overview</a></li>
                    <li class="header-menu__menu-item"><a href="">About Fork</a></li>
                    <li class="header-menu__menu-item"><a href="">Buying Options</a></li>
                    <li class="header-menu__menu-item"><a href="">Support</a></li>
                </ul>
            </nav>
            <button class="header__main-btn">Buy Now</button>
            <div class="burger-menu" id="burger-mobile">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="section-hero__wrapper">
            <h1 class="section-hero__title">Fork App</h1>
            <p class="section-hero__desc">A Real Gamechanger In The World Of Web Development</p>
            <span class="section-hero__text">v. 2.8 For Mac and Windows</span>
        </div>
    </div>
</section>