<section class="what-you-get">
  <div class="container-grid what-you-get__grid">
    <div class="what-you-get__block grid-title">
      <h3 class="what-you-get__title main-title title-show">
        &lt;Here is what you get&gt;
      </h3>
    </div>
    <div class="what-you-get__block grid-block-1">
      <div class="what-you-get__img what-you-get__img--size">
        <img class="img-centr" src="../img/icons/icon1.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-block-2">
      <div class="what-you-get__img what-you-get__img--size">
        <img class="img-centr" src="../img/icons/icon2.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-block-3">
      <div class="what-you-get__img what-you-get__img--size">
        <img class="img-centr" src="../img/icons/icon3.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-block-4">
      <div class="what-you-get__img what-you-get__img--size">
        <img class="img-centr" src="../img/icons/icon4.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-img">
      <div class="what-you-get__block grid-title title-hidden">
        <h3 class="what-you-get__title main-title">
          &lt;Here is what you get&gt;
        </h3>
      </div>
      <div class="what-you-get__img">
        <img
          class="main-img"
          src="../img/icons/hereIsWhatYouGet.jpg"
          alt="icon1"
        />
      </div>
    </div>
  </div>
</section>

<!-- <section class="what-you-get">
  <div class="container what-you-get__grid">
    <div class="what-you-get__block grid-block-1">
      <div class="what-you-get__img">
        <img src="../img/icons/icon1.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-block-2">
      <div class="what-you-get__img">
        <img src="../img/icons/icon2.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-block-3">
      <div class="what-you-get__img">
        <img src="../img/icons/icon3.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-block-4">
      <div class="what-you-get__img">
        <img src="../img/icons/icon4.svg" alt="icon1" />
      </div>
      <div class="grid-descr-wrap">
        <h5 class="what-you-get__title">Creatred to Make The Web Better</h5>
        <p class="what-you-get__descr">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
      </div>
    </div>
    <div class="what-you-get__block grid-title">
      <h3 class="what-you-get__title main-title">
        &lt;Here is what you get&gt;
      </h3>
    </div>
    <div class="what-you-get__block grid-img">
      <div class="what-you-get__img">
        <img
          class="main-img"
          src="../img/icons/hereIsWhatYouGet.jpg"
          alt="icon1"
        />
      </div>
    </div>
  </div>
</section> -->
