<section class="section-revolutionary">
  <div class="container">
    <h3 class="section-revolutionary__title">Revolutionary editor</h3>
    <p class="section-revolutionary__descr">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
      vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
    </p>
    <div class="section-revolutionary__info-btn">
      <div class="info-btn">
        <div class="info-btn__left">
          <img class="eye-icon" src="../img/icons/eye.svg" alt="eye-icon">
          Watch</div>
        <div class="info-btn__right">1,397</div>
      </div>
      <div class="info-btn">
        <div class="info-btn__left">
          <img class="star-icon" src="../img/icons/star.svg" alt="star-icon">
          Star</div>
        <div class="info-btn__right">21,038</div>
      </div>
      <div class="info-btn">
        <div class="info-btn__left">
          <img class="branch-icon" src="../img/icons/branch.svg" alt="branch_icon">
          Fork</div>
        <div class="info-btn__right">4,391</div>
      </div>
    </div>
    <button class="main-btn section-revolutionary__cta-btn">
      Download For Free Now
    </button>
  </div>
</section>
