.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container-grid {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
