.fork-sub-pricing {
    color: rgba(255, 255, 255, 1);
    background-image: url(../../img/icons/background-fork.jpg);
    background-size: cover;
    padding: 88px 10px 150px 10px;
    &__title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 60px;
        @media screen and (min-width: 481px) {
            font-size: 40px;
            line-height: 42px;
            
        }
        @media screen and (min-width: 993px) {
            font-size: 48px;
            line-height: 50px;
        }   
    }
    &__wrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        @media screen and (min-width: 481px) {
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
        }  
        @media screen and (min-width:993px) {
        @include flexContainer(row, center, center);
        gap: 15px;
        flex-wrap: nowrap;
    }
}
    &__block {
        max-width: 257px;
        height: 456px;
        background-color: rgba(255, 255, 255, 0.11);
        @include flexContainer(column, space-between, center);
        justify-self: center;  
        &:last-child {
            align-self: center;
        }
        @media screen and (min-width:481px) {
            max-width: 217px; 
            &:nth-child(odd) {
                justify-self: end;
            }
            &:nth-child(even) {
                justify-self: start;
            }
        }
        @media screen and (min-width:993px) {
            max-width: 217px;   
        }
        @media screen and (min-width:1110px) {
            max-width: 257px;
        }
    }
}

.price-block {
    &__container {
        @include flexContainer(column, center, center);
        width: 257px;
        height: 97px;
        background-color: rgba(255, 255, 255, 0.06);
        font-family: 'Montserrat';
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        @media screen and (min-width:481px) {
            max-width: 217px; 
        }
        @media screen and (min-width:993px) {
            max-width: 217px;   
        }
        @media screen and (min-width:1110px) {
            max-width: 257px;
        }
    }
    &__price {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        @media screen and (min-width:1110px) {
            max-width: 237px;
        }
        &-descr {
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
        }
    }
    &__descr {
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        padding: 0 30px;
        
    }
    &__btn {
        margin-bottom: 36px;
        font-family: 'Montserrat';
        font-size: 15px;
        line-height: 15px;
        padding: 15px 38px;
        background-color: rgba(255, 255, 255, 0.06);
        cursor: pointer;
        text-transform: uppercase;
    }
}

.divided-line {
    width: 60px;
    height: 5px;
    background-color: rgba(141, 129, 172, 1);
}
.btn-active {
    height: 560px;
    background-color: rgba(70, 48, 72, 0.84);
    &__price {
        font-size: 82px;
        line-height: 90px;
    }
}
.dollar {
    font-weight: 400;
}