.section-hero {
  margin: 0 auto;
  background-image: url("/img/icons/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  min-height: 718px;
  a {
    text-decoration: none;
  }
  &__header {
    min-height: 102px;
    background-color: #27262A;
    position: relative;
    @media (min-width: 993px) {
      background-color: transparent;
    }
  }
  &__wrapper {
    margin: 50px auto 0;
    padding: 0 10px;
    @include flexContainer(column, center, center);
    width: 290px;
    @media (min-width: 481px) {
      width: 100%;
      margin: 26px auto 0;
    }
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    @media (min-width: 481px) {
      font-size: 70px;
    }
  }
  &__desc {
    margin: 19px 0 19px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 133%;
    color: #8D81AC;
    @media (min-width: 481px) {
      font-size: 24px;
    }
  }
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #848E97;
  }
}

.header {
  &__header-wrapper {
    padding: 30px 16px;
    @include flexContainer(row, space-between, center);
    @media (min-width: 481px) {
      align-items: start;
      flex-wrap: wrap;
      padding: 22px 14px 18px;
      a:hover {
        color: #FFFFFF;
      }
    }
    @media (min-width: 993px) {
      align-items: center;
      padding: 30px 90px;
    }
  }
  &__logo-wrapper {
    @include flexContainer(row, flex-start, center);
    &:hover .header__logo-img {
      display: none;
    }
    &:hover .header__logo-img--hover {
      display: block;
    }
    &:hover span {
      color: #FFFFFF;
    }
    @media (min-width: 481px) {
      margin-right: 160px;
    }
    @media (min-width: 925px) {
      margin-right: 260px;
    }
    @media (min-width: 993px) {
      margin-right: 40px;
    }
    @media (min-width: 1120px) {
      margin-right: 160px;
    }
  }
  &__logo-img {
    height: 42px;
  }
  &__logo-img--hover {
    height: 42px;
    display: none;
  }
  &__logo-text {
    display: none;
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 68%;
    color: #8D81AC;
    @media (min-width: 481px) {
      display: block;
    }
  }
  &__main-btn {
    padding: 12px 20px;
    background-color: #8D81AC;
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    &:hover,
    &:active,
    &:focus {
      background-color: #FFFFFF;
      color: #8D81AC;
    }
    @media (min-width: 481px) {
      padding: 12px 40px;
    }
  }
}
.burger-menu {
  min-width: 26px;
  min-height: 12px;
  position: relative;
  @include flexContainer(column, center, end);
  .line-1 {
    width: 14px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
  .line-2 {
    width: 26px;
    height: 4px;
    margin: 6px 0;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
  .line-3 {
    width: 26px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
  &.mobile-active {
    span {
      height: 3px;
      &.line-1 {
        display: none;
      }
      &.line-2 {
        position: absolute;
        transform: rotate(-45deg);
      }
      &.line-3 {
        position: absolute;
        transform: rotate(45deg);
      }
    }
    @media (min-width: 481px) {
      display: none;
    }
  }
  @media (min-width: 481px) {
    display: none;
  }
}

.header-menu {
  display: none;
  position: absolute;
  bottom: -314px;
  z-index: 1;
  &.mobile-active {
    display: flex;
    right: 16px;
    @media (min-width: 481px) {
      display: none;
    }
  }
  &__menu-items {
    @include flexContainer(column, flex-start, center);
    background-color: #333333;
    @media (min-width: 481px) {
      @include flexContainer(row, space-between, center);
      background-color: transparent;
    }
  }
  &__menu-item {
    min-width: 292px;
    padding: 30px 0 20px 34px;
    border-bottom: 3px solid #3B3B3B;
    position: relative;
    @media (min-width: 481px) {
      min-width: 0;
      padding: 0;
      border-bottom: none;
      margin: 0 10px;
    }
    @media (min-width: 925px) {
      margin: 0 30px;
    }
    @media (min-width: 993px) {
      margin: 0 26px 0 0;
    }
    a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 26px;
      line-height: 100%;
      color: #FFFFFF;
      @media (max-width: 480px) {
        &:hover,
        &:active,
        &:focus {
          color: #8D81AC;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 12px;
            width: 8px;
            height: 53px;
            background: #8D81AC;
          }
        }
      }
      @media (min-width: 481px) {
        font-weight: 700;
        font-size: 16px;
        line-height: 112%;
        color: #8D81AC;
      }
    }
  }
  @media (min-width: 481px) {
    display: flex;
    position: static;
    order: 2;
    margin: 22px auto 0;
  }
  @media (min-width: 993px) {
    order: 0;
    margin: 0;
  }
}