.what-you-get {
    padding: 33px 24px;
    overflow: hidden;
    position: relative;
  &__grid {
    @include flexContainer(column, center, center);
    @media screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
      }
  }
  &__block {
    @include flexContainer(column, center, center);
    @media screen and (min-width: 481px) {
        @include flexContainer(row, center, center);
    }
  }
  &__img {
    margin: 37px 0 27px 0;

    &--size {
        width: 112px;
    }
    
  }
  &__title {
    text-align: center;
    margin-bottom: 14px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 16px;
    color: rgba(50, 50, 50, 1);
    @media screen and (min-width: 481px) {
        text-align: start;
    }
  }
  &__descr {
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 21px;
    color: rgba(132, 142, 151, 1);
    @media screen and (min-width: 481px) {
        text-align: start;
    }
  }
  @media screen and (min-width: 481px) {
    padding: 0 40px 0 30px;
  }
  @media screen and (min-width: 992px) {
    background-color: rgba(244, 244, 244, 1);
  }
}
.grid-img {
    @include flexContainer(column, center, center);
    @media screen and (min-width: 992px) {
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }
}
.main-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: rgba(141, 129, 172, 1);
  text-align: center;
  margin: 36px 0;
}
.main-img {
    position: relative;
    bottom: 0;
    right: -50px;
    @media screen and (min-width: 481px) {
        // left: 64px;
        right: -80px;
    }
}
.title-hidden {
    display: none;
    @media screen and (min-width: 992px) {
        display: block;
    }
}
.title-show {
    display: block;
    @media screen and (min-width: 992px) {
        display: none;
    }
}
.grid-descr-wrap {
    @media screen and (min-width: 481px) {
        margin-left: 24px;
    }
}
.grid-block-1 {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-block-2 {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-block-3 {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-block-4 {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.img-centr {
    width: 100%;
    margin: 0 auto;
}
























// .what-you-get {
//     overflow: hidden;
//     &__grid {
//         display: grid;
//         justify-items: center;
//         // overflow: hidden;
//         grid-template-areas:
//         'title'
//         'first-block'
//         'sec-block'
//         'third-block'
//         'forth-block'
//         'img';

//         @media screen and (min-width:1160px) {
//             position: relative;
//         }

//     }
//     &__block {
//         @include flexContainer(column, center, center);
//     }
//     &__img {
//         margin: 36px;
//         display: block;
//         width: 110px;

//     }
//     &__title {
//         font-family: 'Montserrat';
//         font-size: 16px;
//         line-height: 16px;
//         margin-bottom: 14px;
//         text-align: center;
//     }
//     &__descr {
//         text-align: center;
//         margin: 0 24px;
//         font-family: 'Lato';
//         font-size: 14px;
//         line-height: 21px;
//         padding-right: 20px;
//     }
//     @media screen and (min-width: 600px) {
//         &__block {
//             @include flexContainer(row, center, center);
//         }
//         &__title {
//             text-align: start;
//         }
//         &__descr {
//             text-align: start;
//             margin: 0;
//         }
//     }
//     @media screen and (min-width: 900px) {
//         background-color: rgba(244, 244, 244, 1);
//         &__grid {
//             // min-width: 100%;
//             grid-template-areas:
//             'first-block title'
//             'sec-block img'
//             'third-block img'
//             'forth-block img';
//         }
//         &__block {
//             @include flexContainer(row, center, center);
//         }
//         &__descr {
//             margin-right: 60px;
//         }

//     }
//     @media screen and (max-width: 900px) {
//         overflow: visible;
//     }
// }
// .main-title {
//     font-family: 'Montserrat';
//     font-weight: 700;
//     font-size: 32px;
//     line-height: 38px;
//     color: rgba(141, 129, 172, 1);
//     text-align: center;
//     margin: 36px 43px;
//     @media screen and (min-width:900px) {
//         margin-bottom: 0;
//         min-width: 300px;

//     }

// }
// .grid-block-1 {
//     grid-area: first-block;
// }
// .grid-block-2 {
//     grid-area: sec-block;
// }
// .grid-block-3 {
//     grid-area: third-block;
// }
// .grid-block-4 {
//     grid-area: forth-block;
// }
// .grid-title {
//     grid-area: title;
// }
// .grid-img {
//     grid-area: img;
//     width: 100%;
//     position: relative;
//     margin-top: 64px;
//     height: 100%;

//     @media screen and (min-width:1160px) {
//          position: unset;
//         }

// }
// .main-img {
//     position: absolute;
//     top: 0;
//     left: 24px;
//     @media screen and (min-width:700px) {
//         left: 68px;
//     }
//     @media screen and (min-width:1160px) {
//         left: 700px;
//         top: 120px;
//     }

// }
