.section-feedbacks {
  background-image: url("../../img/icons/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  &__container {
    margin: 0 34px;
  }
  &__title {
    margin: 58px auto 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #FFFFFF;
    @media (min-width: 481px) {
      margin: 86px auto 0;
      font-size: 42px;
      line-height: 105%;
    }
  }
  &__wrapper {
    margin: 52px 24px 36px;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 481px) {
      margin: 88px 10px 66px;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      grid-column-gap: 60px;
    }
    @media (min-width: 993px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__feedback {
    margin-bottom: 44px;
    @include flexContainer(column, flex-end, center);
    @media (min-width: 481px) {
      margin-bottom: 56px;
    }
  }
  &__desc {
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: 85%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #A291A5;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background: #645766;
    }
  }
}
.feedback {
  &__logo {
    margin-bottom: 30px;
  }
  &__text {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }
}