
.section-revolutionary {
    max-width: 1200px;
    margin: 0 auto;
    & .container {
        @include flexContainer(column, center, center);
        margin: 0 18px;
        &::before {
            content: 'Unlimited 30-Days Trial Period';
            color: rgba(132, 142, 151, 1);
            font-size: 12px;
            position: relative;
            top: 36px;
            font-family: 'Montserrat';
            font-size: 14px;
            line-height: 14px;
            margin-top: 12px;
            @media screen and (min-width: 768px) {
                top: 48px;
            }
        }
    }
    
    &__cta-btn {                                                
        padding: 14px 28px;
        @include flexContainer(column, center, center);
        position: absolute;
        top: -23px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        &:hover {
            background-color: rgba(255, 255, 255, 1);
            color: rgba(141, 129, 172, 1);
            border: 2px solid rgba(141, 129, 172, 1);
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        color: rgba(99, 92, 115, 1);
        margin-top: 130px ;
        text-transform: uppercase;
        text-align: center;
        

    }
    &__descr {
        font-family: 'Lato';
        font-size: 14px;
        line-height: 20px;
        margin: 35px 0;
        text-align: center;
        max-width: 590px;
        
    }
    &__info-btn {
        margin: 13px 0 70px 0;
        @include flexContainer(row, center, center);
        gap: 10px; 
        flex-wrap: wrap;
        font-family: 'Montserrat';
    }
}
.info-btn {
    @include flexContainer(row, center, center);
    border: 1px solid rgb(214, 213, 213);
    border-radius: 5px;
    font-weight: 600;
    &__left {
        background-color: rgb(236, 236, 236);
        border-right: 1px solid rgb(214, 213, 213);
        @include flexContainer(row, center, center);
        padding: 3px 6px;
    }
    &__right {
        @include flexContainer(row, center, center);
        padding: 3px 6px;
    }
}
.eye-icon, .branch-icon, .star-icon{
    width: 20px;
    padding-right: 3px;
}
